* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	background: #000000;
}

body {
	top: 50%;
	position: relative;
}

object {
	width: 640px;
	height: 480px;
	margin: -240px auto 0 auto;
	border: 10px solid #404040;
	display: block;
}